body {
  background: #f1f1f1;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.app {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 20px auto 0 auto;
  background-color: #fff;
}

.search-bar {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
}

.movie-list {
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
}
.movie-list:empty {
  display: none;
}

.movie-item {
  display: flex;
  border-bottom: solid #d3d3d3 1px;
  padding: 10px;
}
.movie-item:hover {
  background-color: #f4f4f4;
}

.movie-info {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.overview {
  padding-top: 10px;
  font-size: 12px;
}

.detail {
  padding-top: 5px;
}
